/* Contenedor principal del formulario */
.forgot-password-container {
  max-width: 500px; /* Ancho máximo del formulario */
  text-align: center; /* Centrado del texto */
  padding: 30px; /* Espaciado interno */
}

/* Contenedor principal para centrar el formulario */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 7rem); /* Altura total menos la altura de la navbar */
  padding: 1rem; /* Espaciado interno para pantallas pequeñas */
}

/* Configuración global del cuerpo */
body {
  box-sizing: border-box; /* Incluye padding y border en el tamaño total */
  font-family: 'Open Sans', sans-serif; /* Fuente personalizada */
  font-weight: 400; /* Peso de fuente normal */
  background-color: #ffffff; /* Fondo blanco */
  margin: 0; /* Sin márgenes */
  padding: 0; /* Sin padding */
}

/* Configuración global del HTML */
html {
  scroll-behavior: smooth; /* Desplazamiento suave */
}

.normal-text {
  font-weight: 400 !important;
}

.bold-text {
  font-weight: 700 !important;
}

nav img {
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Estándar */
  pointer-events: none;      /* Deshabilita el arrastre */
}

.logo img {
  width: 100px;
  margin-bottom: 20px;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #30bfb1;
  font-weight: 700;
  margin-bottom: 10px;
}

.description {
  font-size: 0,9rem;
  color: #000000;
  margin-bottom: 20px;
}

/* Estilo para las etiquetas del formulario */
.label {
  display: block; /* Ocupa toda la línea */
  font-size: 0.9rem; /* Tamaño de fuente */
  color: #ff9f1d; /* Color naranja */
  margin-bottom: 5px; /* Espaciado inferior */
  text-align: left; /* Alineación a la izquierda */
}

/* Estilo para el campo de entrada */
input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  background-color: #f5f5f5;
  font-size: 16px;
  color: #718096; /* Cambia el color del texto */
}

/* Estilo para el botón de envío */
.submit-button {
  width: 100%; /* Ocupa todo el ancho */
  padding: 10px; /* Espaciado interno */
  font-size: 1rem; /* Tamaño de fuente */
  color: #ffffff; /* Texto blanco */
  background-color: #f4a024; /* Fondo naranja */
  border: none; /* Sin bordes */
  border-radius: 25px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar */
  transition: background-color 0.3s; /* Transición suave */
}

/* Efecto hover para el botón */
.submit-button:hover {
  background-color: #e17f00; /* Fondo naranja oscuro */
}

/* Estilo para el texto de soporte */
.support-text {
  font-size: 0.9rem; /* Tamaño de fuente */
  color: #000000; /* Color gris */
  margin-top: 20px; /* Espaciado superior */
}

/* Estilo para el enlace de soporte */
.support-link {
  text-decoration: underline; /* Sin subrayado por defecto */
  color: #f4a024; /* Color naranja */
  font-weight: bold;
}
