* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.reset-bg {
  background: #d6f7f6;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.top-bar {
  width: 100%;
  background: #d6f7f6;
  padding: 36px 0 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 70px;
  margin-bottom: 5px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.logo-text span:first-child {
  color: #00a89d;
}

.logo-text span:last-child {
  color: #f7a400;
}

.main-content {
  background: #fff;
  max-width: 500px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  text-align: center;
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
}

h1 {
  color: #00a89d;
  font-size: 26px;
  margin-bottom: 15px;
}

h2 {
  color: #18cfc2;
  font-size: 2.5rem;
  margin-bottom: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

p {
  margin-bottom: 20px;
  color: #333;
}

form {
  margin: 0 auto;
  text-align: left;
}

label {
  display: block;
  text-align: left;
  font-weight: bold;
  color: #f7a400;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 16px 18px;
  margin-bottom: 10px;
  border: none;
  border-radius: 16px;
  background: #e5e1e1;
  font-size: 1.08rem;
  outline: none;
  transition: border 0.2s;
  font-family: inherit;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #e5dede;
  border-radius: 10px;
  font-size: 16px;
}

.input-error {
  border: 2px solid #ff6b6b;
  background: #fff0f0;
}

.requisitos {
  text-align: left;
  margin-top: 15px;
}

.requisitos ul {
  padding-left: 20px;
  color: #000;
}

.requisitos li {
  margin: 5px 0;
}

.boton {
  margin-top: 30px;
}

button {
  background-color: #f7a400;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: #ff6b6b;
  font-size: 1.02em;
  margin-bottom: 5px;
  margin-top: 2px;
  text-align: left;
}

.soporte {
  margin-top: 20px;
  font-size: 14px;
}

.soporte a {
  color: #f7a400;
  font-weight: bold;
  text-decoration: none;
}

.soporte a:hover {
  text-decoration: underline;
}
