<div class="container">
  <img src="assets/SaludYa.png" alt="SaludYa Logo" class="logo" />
  <h2>Restablece tu contraseña</h2>
  <p>Por favor, ingresa tu nueva contraseña a continuación.</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>Nueva contraseña</label>
    <input type="password" formControlName="password" />

    <div class="requisitos">
      Tu contraseña debe contener al menos:
      <ul>
        <li>8 caracteres</li>
        <li>1 mayúscula</li>
        <li>1 número</li>
      </ul>
    </div>

    <label>Repetir nueva contraseña</label>
    <input type="password" formControlName="password_confirmation" />

    <button type="submit" [disabled]="form.invalid">Cambiar contraseña</button>
  </form>
</div>
